.header {
  background: #F5F6F7;
  min-height: 50px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: black;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}

.header-title {
  padding: 10px;
  user-select: none;
}

.header:hover {
  background: #E5E6E7;
}